{% extends 'base.html' %}
{% load my_tags %}
{% block title %} Рецепт {% endblock %}
{% block content %}
<main>
<div class="row" style="margin-top: 25px;">
  <div class="center-block">
    <div class="card border-warning mb-3 mx-auto" style="max-width: 40rem;">
      <div class="card-header"><h4> Название блюда: {{ dish.name }}</h4></div>
      <div class="card-body">
            <h5 class="card-title">Пищевая ценность:</h5>
          <ul>
              <li>
                  Калории: {{ dish.calories }} ккал
              </li>
              <li>
                  Белки: {{ dish.protein }} гр
              </li>
              <li>
                  Жиры: {{ dish.fat }} гр
              </li>
              <li>
                  Углеводы: {{ dish.carbohydrate }} гр
              </li>
          </ul>
         <h5 class="card-title">Ингредиенты:</h5>
          <ul>
              {% for productdish in dish.productdish_set.all %}
              <li>
                    {{ productdish.product.name }} - {{ productdish.size }}
              </li>
              {% endfor %}
          </ul>
        <h5 class="card-title">Приготовление:</h5>
        <ol>
        {% for ingredient in dish.recept|split_lines %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ol>
      </div>
    </div>
</div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
